## Working with Text Data and Argument Specifiers

Execute the following code cell to create four variables containing the following information: names of local car shops, brands of cars expected to be available for sale next year, the specific number of cars to be sold, and their price.

In [1]:
car_shop = ['Fast Cars', 'Elegant Cars']
car_brand = ['Audi', 'Ford']
number_of_cars_for_sale = [1000, 1200]
price_of_model = 37500.50

Use the string and integer argument specifiers, along with indexing, to create the following sentence with the help of the four variables you just created.
<br>"The "Fast Cars" shop are expecting to sell 1000 units of the new Audi model at 37500.50 per unit next year."

In [2]:
"The \"%s\" shop are expecting to sell %d units of the new %s model at %.2f per unit next year." % (car_shop[0], number_of_cars_for_sale[0], car_brand[0], round(price_of_model, 2))

'The "Fast Cars" shop are expecting to sell 1000 units of the new Audi model at 37500.50 per unit next year.'

Change the index value of the previous code cell to obtain the following string as an output:
<br>"The "Elegant Cars" shop are expecting to sell 1200 units of the new Ford model next year."

In [3]:
"The \"%s\" shop are expecting to sell %d units of the new %s model next year." % (car_shop[1], number_of_cars_for_sale[1], car_brand[1])

'The "Elegant Cars" shop are expecting to sell 1200 units of the new Ford model next year.'

## Manipulating Python Strings

Execute the following cell to create four variables you can complete the subsequent tasks with:

In [4]:
car_shop = ['Fast Cars', 'Elegant Cars']
car_brand = ['Audi', 'Ford']
number_of_cars_for_sale = [1000, 1200]
price_of_model = 37500.50

Use the **print()** function, argument specifiers, the variables created above, and the combination of the escape character and the letter n, i.e. **\n,** to display the following string, while preserving the number of lines:

Current list of local car shops:
<br>"Fast Cars"
<br>"Elegant Cars"

In [5]:
print('Current list of local car shops: \n"%s" \n"%s\"' %(car_shop[0],car_shop[1]))

Current list of local car shops:
"Fast Cars"
"Elegant Cars"

Use the **print()** function and carriage return to substitute "Product A1" with "Category A" and thus correct the following sentence:
<br>"Product A1 is our best category of products."

In [6]:
print("Product A1 is our best category of products. \rCategory A")

Product A1 is our best category of products.
Category A

Use argument specifiers, the variables created above, and the plus sign (+) within the parentheses of a **print()** function, to create the following string: <br>The "Fast Cars" shop are expecting to sell 1000 units of the new Audi model next year. The "Elegant Cars" shop are expecting to sell 1200 units of the new Ford model next year.
<br>*Hint: Please feel free to directly refer to the code you created earlier in this exercise. Also, don't forget that you can write code on several lines for better legibility!*

In [7]:
print ("The \"%s\" shop are expecting to sell %d units of the new %s model next year." % (car_shop[0], number_of_cars_for_sale[0], car_brand[0]) + 
       " The \"%s\" shop are expecting to sell %d units of the new %s model next year." % (car_shop[1], number_of_cars_for_sale[1], car_brand[1]))

The "Fast Cars" shop are expecting to sell 1000 units of the new Audi model next year. The "Elegant Cars" shop are expecting to sell 1200 units of the new Ford model next year.

In the previous code cell, place the combination **\t** at the correct place twice in order to separate the two sentences with two tabs as opposed to just combining them. <br>*Hint: There are several possible solutions to this task.*

In [8]:
print ("The \"%s\" shop are expecting to sell %d units of the new %s model next year." % (car_shop[0], number_of_cars_for_sale[0], car_brand[0]) + " \tThe \"%s\" shop are expecting to sell %d units of the new %s model next year." % (car_shop[1], number_of_cars_for_sale[1], car_brand[1]))

The "Fast Cars" shop are expecting to sell 1000 units of the new Audi model next year. 	The "Elegant Cars" shop are expecting to sell 1200 units of the new Ford model next year.

## Using Various String Methods

Execute the next cell to create a variable called **s** (which stands for 'string') and assign the string "Administrative expenses" to it.

In [9]:
s = 'Administrative expenses'
s

'Administrative expenses'

Use the **.replace()** method to change the word "Administrative" with "Selling", thus making the variable **s** contain the string "Selling expenses".
<br>As you are doing that, store the output in a new variable called **s1**.

In [10]:
s1 = s.replace('Administrative', 'Selling')
s1

'Selling expenses'

Check if the string **s** currently starts with "Admin"?

In [11]:
s.startswith('Admin')

True

Verify that the string stored in **s1** now starts with "Sell".

In [12]:
s1.startswith('Sell')

True

Will you obtain the same output if you verified for "sell" instead of "Sell"?

In [13]:
s1.startswith('sell')

False

Does the expression in **s1** end at "diture"?

In [33]:
s1.endswith('diture')

False

Well, then you can verify that the expression in **s1** actually ends at "ses". Is this True?

In [34]:
s1.endswith('ses')

True

Use a Python method without passing any arguments into it to return a list containing the words from **s1** as its elements.

In [35]:
s1.split()

['Selling', 'expenses']

Obtain the same output while passing an argument within the parentheses of the same method this time.

In [36]:
s1.split(' ')

['Selling', 'expenses']

In [37]:
s1.split(" ")

['Selling', 'expenses']

Split the **s1** string by the letter s to explore a list with what elements you will obtain.

In [19]:
s1.split('s')

['Selling expen', 'e', '']

Execute the following code cell to create and display the string called **s2**.

In [40]:
s2 = "personal ID, first name, last name, date of birth, place of birth, city of birth"
s2

'personal ID, first name, last name, date of birth, place of birth, city of birth'

Use a Python's method to split the text of **s2** into different elements as separated by the comma symbol.
<br>*Note: Due to the length of the output, it might be displayed on several lines as opposed to a single one. You can try to display the elements from the obtained list on a single line, with the help of the **print()** function.*

In [41]:
s2.split(',')

['personal ID',
 ' first name',
 ' last name',
 ' date of birth',
 ' place of birth',
 ' city of birth']

In [39]:
print(s2.split(','))

['personal ID', ' first name', ' last name', ' date of birth', ' place of birth', ' city of birth']

How many elements are there in the **s2** string currently?

In [42]:
len(s2)

80

If you've worked correctly, you should have obtained 80.
<br>Therefore, now store the list obtained after splitting the elements from **s2** in a variable called **list_01**, and then print its output.

In [43]:
list_01 = s2.split(',')
print(list_01)

['personal ID', ' first name', ' last name', ' date of birth', ' place of birth', ' city of birth']

How many elements are there in the **list_01** list currently?

In [44]:
len(list_01)

6

If you've worked correctly, you should have obtained the value of 6 as an output.

Execute the next cell to remember what string was contained in the variable **s**.

In [45]:
s

'Administrative expenses'

Use a Python method to display all letters of that string in the output as lowercase.

In [46]:
s.lower()

'administrative expenses'

By analogy, use another Python method to display all letters as uppercase.

In [47]:
s.upper()

'ADMINISTRATIVE EXPENSES'

Apply a Python method that will return the first letter of each word of **s** as uppercase, while the rest of the letters remain lowercase.

In [48]:
s.title()

'Administrative Expenses'

Execute the following code cell to create and visualise a string called **name1**.

In [49]:
name1 = 'Martin Peterson   '
name1

'Martin Peterson   '

Use a Python's string method to remove the whitespaces at the right end of the string.
<br>*Note that there are two solutions of this task so feel free to use any of them.*

In [50]:
name1.rstrip()

'Martin Peterson'

In [51]:
name1.strip()

'Martin Peterson'

## String Accessors

In this Notebook Document, we'll be working on methods that apply to pandas objects, so you can start by importing the pandas library in the standard way.

In [1]:
import pandas as pd

Execute the next cell to create and visualise a pandas Series object containing the names of 3 people.

In [2]:
names = pd.Series(["Martin Peterson", "John Fitzpatrick", "Kate Cruz"])
names

0     Martin Peterson
1    John Fitzpatrick
2           Kate Cruz
dtype: object

Use the relevant string accessor *twice* â€“ once with the **.split()** method and indexing (within parentheses) to remove the first names of all individuals. Store the obtained output in a new variable called **last_names**.

In [21]:
last_names = names.str.split().str[1]
last_names

0       Peterson
1    Fitzpatrick
2           Cruz
dtype: object

Check the type of the **last_names** object.

In [55]:
type(last_names)

pandas.core.series.Series

Check which of the names in **last_names** contain the letter **s**.
If you've worked correctly, you should obtain a True value only for the first element of the **last_names** Series.

In [56]:
last_names.str.contains("s")

0     True
1    False
2    False
dtype: bool

## Using the .format() Method

Consider the following string.

In [2]:
"{} expect their next year's sales of Q{} to {}."

"{} expect their next year's sales of Q{} to {}."

Use the **.format()** method to substitute the pairs of braces in the string with the following three values, thus obtaining information about the sales of Company A for the third quarter of next year:
<br>'Company A'
<br>3
<br>'increase'

In [3]:
"{} expect their next year's sales of Q{} to {}.".format('Company A', 3, 'increase')

"Company A expect their next year's sales of Q3 to increase."

Execute the next cell to create three variables that store information about companies, quarters and sales performance predictions, respectively.

In [5]:
companies = ['Company A', 'Company B']
quarter = [1, 2, 3, 4]
sales_performance_prediction = ['increase', 'decrease', 'remain the same']

Obtain the same output as above while referring to the three lists you just created. Help yourself with using appropriate indexing.
<br>Here's the output you need to aim for as a reference.
<br>"Company A expect their next year's sales of Q3 to increase."

In [6]:
"{} expect their next year's sales of Q{} to {}.".format(companies[0], quarter[2], sales_performance_prediction[0])

"Company A expect their next year's sales of Q3 to increase."

Feel free to experiment with the same line of code while referencing different values from the three lists that have been given.

Here's an example:

In [7]:
"{} expect their next year's sales of Q{} to {}.".format(companies[1], quarter[3], sales_performance_prediction[2])

"Company B expect their next year's sales of Q4 to remain the same."