# Working with **Text Data**

Remember, Python is case sensitive

## **Argument** Specifiers

### String Literals **%s**

In [8]:
product_category = 'B'
print('This item is from product category %s.' % product_category)

This item is from product category B.

In [13]:
product_category = ["A", "B"]
print('This item is from product category "%s".' % product_category[1])

# list indexing

This item is from product category "B".

In [3]:
quantities = [500, 600]
print('This item is from product category "%s".' % quantities[1])

# list indexing with integers

This item is from product category "600".

### Digit Literals **%d**

In [4]:
print("We currently have %d available units of this item." % quantities[0])

We currently have 500 available units of this item.

### Float Literals **%f**

In [10]:
stock_share_price_list = [40.50, 60.35]
print("This stock costs $%f per share." % stock_share_price_list[1])

This stock costs $60.350000 per share.

**We could specify the number of digits after the decimal point** with **%.f** for **no decimal** point, %.1f for one, etc.  
The default is six.

In [11]:
print("This stock costs $%.f per share" % stock_share_price_list[1])
print("This stock costs $%.1f per share" % stock_share_price_list[1])
print("This stock costs %.2f per share." % stock_share_price_list[1])

This stock costs $60 per share
This stock costs $60.4 per share
This stock costs 60.35 per share.

### Using **Variable** for Indexing

In [14]:
# i = 0
i = 1
print("Currently, we have %d units of Category \"%s\" products in store." % (quantities[i], product_category[i]))

Currently, we have 600 units of Category "B" products in store.

## **Manipulating** Python Strings with **\\**

### new line **\ n**

In [17]:
# print('This product is from Category "A".')
print('This product is from \nCategory "A".')
# print('This product is from \n Category "A".')
# print('This product is from \n\nCategory "A".')

This product is from
Category "A".

### tab **\ t**

In [18]:
# print('This product is from Category "A".\t' + 'That product is from Category "B".')
# print('This product is from Category "A".\tThat product is from Category "B".')
print('This product is from Category "A". \t\t\t That product is from Category "B".')

This product is from Category "A". 			 That product is from Category "B".

### replace **\ r** or *Carriage Return*

Replace the **same number of characters at the start of the string**    
In this example, length of "Product 0001" is 13 chars. So it will replace 13 chars in the start of the string. **space included*

In [19]:
# print('This product is from Category "A". \rProduct 01')
print('This product is from Category "A". \rProduct 0001')

Product 0001 is from Category "A".

## Using Various String **Methods**

First we **create variable s** for the sake of our example

In [2]:
s = 'Price per unit'
s

'Price per unit'

### **.replace**

In [3]:
s1 = s.replace('Price', 'Cost')
s1

'Cost per unit'

### **.startswith**

In [4]:
s1.startswith('Cost')

# output = boolean
# "Price" has been replaced by "Cost" in the previous code block

True

In [5]:
s1.startswith('cost')

# Python is case sensitive, it start with "C" not "c"

False

In [6]:
s1.startswith('Price')

False

### **.endswith**

In [7]:
s1.endswith('nit')

True

In [8]:
s1.endswith('nits')

False

### **.split**

In [35]:
s1.split()
# s1.split(' ')
# s1.split(" ")

# default split separator is space

['Cost', 'per', 'unit']

In [14]:
s1.split('')

# It will throw an error if the separator is empty

ValueError: empty separator

In [22]:
s1.split('per')

# It also can split strings based on chars

['Cost ', ' unit']

In [23]:
# maxsplit operation will result the arguments placed on second argument + 1

# s1.split(' ', maxsplit = 0)
# s1.split(' ', 0)   "split string into 1 list" --> Cost per Unit 
# s1.split(' ', 1)   "split string into 2 list" --> Cost, per Unit 
# s1.split(' ', 3) 
s1.split(' ', 4)

# IF the value on the second argument is greater than the maximum number of splits possible, it will return the maximum splits

['Cost', 'per', 'unit']

In [24]:
s2 = 'Mr., John, Wilson'

In [25]:
s2.split(',')

['Mr.', ' John', ' Wilson']

In [26]:
# s2.split(',')[0]
# s2.split(',')[1]
s2.split(',')[2]

# We can use indexing to specify the result we want

' Wilson'

### new variable for upper - title examples

In [27]:
s3 = 'Mrs. Amy Moore'

### **.upper**  LOREM IPSUM

In [ ]:
s3.upper()

### **.lower** lorem ipsum

In [ ]:
s3.lower()

### **.capitalize** Lorem ipsum

In [28]:
s3.capitalize()

'Mrs. amy moore'

### **.title** Lorem Ipsum

In [29]:
s3.title()

'Mrs. Amy Moore'

In [31]:
'Cost per unit'.title()

'Cost Per Unit'

### new variable for strip examples

In [1]:
s4 = '  quarterly earnings report   '

### **.strip**

Looks for any of the characters specified between the quotes **in both ends** of the given string and remove these characters **until it encounters a different character**

In [34]:
s4.strip()

# s4.strip(' ')
# default strip separator is space

'quarterly earnings report'

First, it will look for *space* and remove it in both ends  
Second, it will look for **r**, but not found. Because now s4 starts with **q** in *quarterly* and ends with **t** in *report*

In [37]:
s4.strip(' r')

'quarterly earnings report'

First, it will look for *space* and remove it in both ends  
Second, it will look for **q**. s4 starts with **q** in *quarterly*. But not found at the ends of the string  
Third, it will look for **t**. s4 ends with **t** in *report*. But not found at the starts of the string

In [38]:
s4.strip(' qt')

'uarterly earnings repor'

s4 starts and ends with *space* so it will remove nothing

In [39]:
s4.strip('qt')

'  quarterly earnings report   '

In [2]:
s4.strip(' quarterly')

'nings repo'

### **.lstrip** remove only at the starts of string

In [40]:
s4.lstrip()

'quarterly earnings report   '

In [ ]:
s4.lstrip(' quarterly')

### **.rstrip** remove only at the ends of string

In [3]:
s4.rstrip()

'  quarterly earnings report'

### another strip examples

In [4]:
s5 = s4.strip()
s5

'quarterly earnings report'

In [5]:
s5.lstrip('quarterly')

' earnings report'

In [6]:
s5.rstrip('report')

'quarterly earnings '

In [7]:
s6 = ' %&!quarterly earnings report  *'

In [8]:
s6.strip(' !@#$%^&*()')

'quarterly earnings report'

## String Accessors

In [ ]:
import pandas as pd

In [ ]:
operational_kpis = pd.Series(["employee satisfaction rating", "employee churn rate"])
operational_kpis

In [ ]:
operational_kpis.lstrip('employee')

In [ ]:
operational_kpis[0].lstrip('employee')

In [ ]:
operational_kpis[1].lstrip('employee')

In [ ]:
pd.Series([operational_kpis[0].lstrip('employee'), operational_kpis[1].lstrip('employee')])

In [ ]:
# operational_kpis.str
print(operational_kpis.str)

In [ ]:
operational_kpis.str[1]

In [ ]:
operational_kpis[1]

In [ ]:
operational_kpis.str.lstrip('employee')

In [ ]:
test_series = pd.Series(['Text_data', 34])
test_series

In [ ]:
test_series.str.lstrip('Text_')

In [ ]:
test_series = pd.Series(['Text_data', '34'])

In [ ]:
test_series.str.lstrip('Text_')

In [ ]:
house_prices = pd.Series(['$400,000', '$500,000', '$600,000'])
house_prices

In [ ]:
house_prices.str.contains("$")

## Using the .format() Method

In [ ]:
time_horizon = 1, 3, 12
time_horizon

In [ ]:
products = ['Product A', 'Product B']
products

In [ ]:
'Expected sales for a period of {} month(s) for {}:'.format(12, 'Product B')

In [ ]:
'Expected sales for a period of {} month(s) for {}:'.format(time_horizon, products)

In [ ]:
'Expected sales for a period of {} month(s) for {}:'.format(time_horizon[2], products[1])

In [ ]:
'Expected sales for a period of {0} month(s) for {1}:'.format(time_horizon[2], products[1])

In [ ]:
'Expected sales for a period of {1} month(s) for {0}:'.format(time_horizon[2], products[1])

In [ ]:
'Expected sales for a period of {t_hor} month(s) for {prod}:'.format(t_hor = 12, prod = 'Product B')

In [ ]:
'Expected sales for a period of {t_hor} month(s) for {prod}:'.format(t_hor = 12, prod = ['Product A', 'Product B'])

In [ ]:
'Expected sales for a period of {t_hor} month(s) for {prod[1]}:'.format(t_hor = 12, prod = ['Product A', 'Product B'])

In [ ]:
'Expected sales for a period of {t_hor[2]} month(s) for {prod[1]}:'.format(t_hor = time_horizon, prod = products)

In [ ]:
'Expected sales for a period of {t_hor[2]} month(s) for {prod[1]}: ${sales}.'.format(t_hor = time_horizon, prod = products, sales = 10000)

In [ ]:
'Expected sales for a period of {0} month(s) for {prod[1]}: ${sales}.'.format(12, prod = products, sales = 10000)