# Working with **Text Data**

Remember, Python is case sensitive

## **Argument** Specifiers

### String Literals **%s**

In [63]:
product_category = 'B'
print('This item is from product category %s.' % product_category)

This item is from product category B.

In [64]:
product_category = ["A", "B"]
print('This item is from product category "%s".' % product_category[1])

# list indexing

This item is from product category "B".

In [65]:
quantities = [500, 600]
print('This item is from product category "%s".' % quantities[1])

# list indexing with integers

This item is from product category "600".

### Digit Literals **%d**

In [66]:
print("We currently have %d available units of this item." % quantities[0])

We currently have 500 available units of this item.

### Float Literals **%f**

In [67]:
stock_share_price_list = [40.50, 60.35]
print("This stock costs $%f per share." % stock_share_price_list[1])

This stock costs $60.350000 per share.

**We could specify the number of digits after the decimal point** with **%.f** for **no decimal** point, %.1f for one, etc.  
The default is six.

In [68]:
print("This stock costs $%.f per share" % stock_share_price_list[1])
print("This stock costs $%.1f per share" % stock_share_price_list[1])
print("This stock costs %.2f per share." % stock_share_price_list[1])

This stock costs $60 per share
This stock costs $60.4 per share
This stock costs 60.35 per share.

### Using **Variable** for Indexing

In [69]:
# i = 0
i = 1
print("Currently, we have %d units of Category \"%s\" products in store." % (quantities[i], product_category[i]))

Currently, we have 600 units of Category "B" products in store.

## **Manipulating** Python Strings with **\\**

### new line **\ n**

In [70]:
# print('This product is from Category "A".')
print('This product is from \nCategory "A".')
# print('This product is from \n Category "A".')
# print('This product is from \n\nCategory "A".')

This product is from
Category "A".

### tab **\ t**

In [71]:
# print('This product is from Category "A".\t' + 'That product is from Category "B".')
# print('This product is from Category "A".\tThat product is from Category "B".')
print('This product is from Category "A". \t\t\t That product is from Category "B".')

This product is from Category "A". 			 That product is from Category "B".

### replace **\ r** or *Carriage Return*

Replace the **same number of characters at the start of the string**    
In this example, length of "Product 0001" is 13 chars. So it will replace 13 chars in the start of the string. **space included*

In [72]:
# print('This product is from Category "A". \rProduct 01')
print('This product is from Category "A". \rProduct 0001')

Product 0001 is from Category "A".

## Using Various String **Methods**

First we **create variable s** for the sake of our example

In [73]:
s = 'Price per unit'
s

'Price per unit'

### **.replace**

In [74]:
s1 = s.replace('Price', 'Cost')
s1

'Cost per unit'

### **.startswith**

In [75]:
s1.startswith('Cost')

# output = boolean
# "Price" has been replaced by "Cost" in the previous code block

True

In [76]:
s1.startswith('cost')

# Python is case sensitive, it start with "C" not "c"

False

In [77]:
s1.startswith('Price')

False

### **.endswith**

In [78]:
s1.endswith('nit')

True

In [79]:
s1.endswith('nits')

False

### **.split**

In [80]:
s1.split()
# s1.split(' ')
# s1.split(" ")

# default split separator is space

['Cost', 'per', 'unit']

In [81]:
s1.split('')

# It will throw an error if the separator is empty

ValueError: empty separator

In [82]:
s1.split('per')

# It also can split strings based on chars

['Cost ', ' unit']

In [84]:
# maxsplit operation will result the arguments placed on second argument + 1

# s1.split(' ', maxsplit = 0)
# s1.split(' ', 0)   "split string into 1 list" --> Cost per Unit 
# s1.split(' ', 1)   "split string into 2 list" --> Cost, per Unit 
# s1.split(' ', 3) 
s1.split(' ', 4)

# IF the value on the second argument is greater than the maximum number of splits possible, it will return the maximum splits

['Cost', 'per', 'unit']

In [85]:
s2 = 'Mr., John, Wilson'

In [86]:
s2.split(',')

['Mr.', ' John', ' Wilson']

In [87]:
# s2.split(',')[0]
# s2.split(',')[1]
s2.split(',')[2]

# We can use indexing to specify the result we want

' Wilson'

### new variable for upper - title examples

In [88]:
s3 = 'Mrs. Amy Moore'

### **.upper**  LOREM IPSUM

In [89]:
s3.upper()

'MRS. AMY MOORE'

### **.lower** lorem ipsum

In [90]:
s3.lower()

'mrs. amy moore'

### **.capitalize** Lorem ipsum

In [91]:
s3.capitalize()

'Mrs. amy moore'

### **.title** Lorem Ipsum

In [92]:
s3.title()

'Mrs. Amy Moore'

In [93]:
'Cost per unit'.title()

'Cost Per Unit'

### new variable for strip examples

In [94]:
s4 = '  quarterly earnings report   '

### **.strip**

Looks for any of the characters specified between the quotes **in both ends** of the given string and remove these characters **until it encounters a different character**

In [95]:
s4.strip()

# s4.strip(' ')
# default strip separator is space

'quarterly earnings report'

First, it will look for *space* and remove it in both ends  
Second, it will look for **r**, but not found. Because now s4 starts with **q** in *quarterly* and ends with **t** in *report*

In [96]:
s4.strip(' r')

'quarterly earnings report'

First, it will look for *space* and remove it in both ends  
Second, it will look for **q**. s4 starts with **q** in *quarterly*. But not found at the ends of the string  
Third, it will look for **t**. s4 ends with **t** in *report*. But not found at the starts of the string

In [97]:
s4.strip(' qt')

'uarterly earnings repor'

s4 starts and ends with *space* so it will remove nothing

In [98]:
s4.strip('qt')

'  quarterly earnings report   '

In [99]:
s4.strip(' quarterly')

'nings repo'

### **.lstrip** remove only at the starts of string

In [100]:
s4.lstrip()

'quarterly earnings report   '

In [101]:
s4.lstrip(' quarterly')

'nings report   '

### **.rstrip** remove only at the ends of string

In [102]:
s4.rstrip()

'  quarterly earnings report'

### another strip examples

In [103]:
s5 = s4.strip()
s5

'quarterly earnings report'

In [104]:
s5.lstrip('quarterly')

' earnings report'

In [105]:
s5.rstrip('report')

'quarterly earnings '

In [106]:
s6 = ' %&!quarterly earnings report  *'

In [107]:
s6.strip(' !@#$%^&*()')

'quarterly earnings report'

## String **Accessors**

We will focus on **manipulating string values in the series** object

In [108]:
import pandas as pd

Assume that you are like to **remove label "employee"**

In [109]:
operational_kpis = pd.Series(["employee satisfaction rating", "employee churn rate"])
operational_kpis

0    employee satisfaction rating
1             employee churn rate
dtype: object

**You will get error message** if you apply the strip method directly

In [110]:
operational_kpis.lstrip('employee')

AttributeError: 'Series' object has no attribute 'lstrip'

You must **specify the string values with indexing** to obtain the result.

In [111]:
operational_kpis[0].lstrip('employee')

' satisfaction rating'

In [112]:
operational_kpis[1].lstrip('employee')

' churn rate'

But **this technique is hard to interpret** for series object that is supposed to contain large number of values

In [115]:
pd.Series([operational_kpis[0].lstrip('employee'), operational_kpis[1].lstrip('employee')])

0     satisfaction rating
1              churn rate
dtype: object

### **. s t r**

And here goes string accessor .str to **help us access the string values that have been stored in the given series**

In [116]:
# operational_kpis.str
print(operational_kpis.str)

<pandas.core.strings.accessor.StringMethods object at 0x0000023C60549990>

**The output of .str is the character** of position one in the Series object  
"e **m** ployee" the char of position one is **m**

In [117]:
operational_kpis.str[1]

0    m
1    m
dtype: object

**The usual output is the value** of position one in the Series object  
In this case "employee churn rate"

In [118]:
operational_kpis[1]

'employee churn rate'

**with string accessor**, we could apply lstrip and other methods directly

In [119]:
operational_kpis.str.lstrip('employee')

0     satisfaction rating
1              churn rate
dtype: object

#### **What IF** not all the values in the Series are Strings?

In [120]:
test_series = pd.Series(['Text_data', 34])
test_series

0    Text_data
1           34
dtype: object

**We will obtain missing values** in the second row, since lstrip methods is not for numeric values

In [121]:
test_series.str.lstrip('Text_')

0    data
1     NaN
dtype: object

But **if all the values are strings**, the desired output will be obtained

In [123]:
test_series = pd.Series(['Text_data', '34'])

In [124]:
test_series.str.lstrip('Text_')

0    data
1      34
dtype: object

## Using the **.format ( )** Method

A very useful tool for pre-processing text data  
**.format is applicable for string values only**

In [127]:
time_horizon = 1, 3, 12
time_horizon

(1, 3, 12)

In [128]:
products = ['Product A', 'Product B']
products

['Product A', 'Product B']

If we throw integer values to the .format method, it will return it in the string values  
Watch the **12** value, which will be placed in the first curly bracket

In [129]:
'Expected sales for a period of {} month(s) for {}:'.format(12, 'Product B')

'Expected sales for a period of 12 month(s) for Product B:'

We could refer to time_horizons and products variables

In [130]:
'Expected sales for a period of {} month(s) for {}:'.format(time_horizon, products)

"Expected sales for a period of (1, 3, 12) month(s) for ['Product A', 'Product B']:"

Even **use indexing** to obtain spesific values

In [131]:
'Expected sales for a period of {} month(s) for {}:'.format(time_horizon[2], products[1])

'Expected sales for a period of 12 month(s) for Product B:'

The default value in the curly bracket is 0 then 1 **sequentially** (go on to 2, 3, 4, and so on)

In [132]:
'Expected sales for a period of {0} month(s) for {1}:'.format(time_horizon[2], products[1])

'Expected sales for a period of 12 month(s) for Product B:'

If whe change the sequence, it will affect the output  
**This values act as an Indexing** for format methods

In [133]:
'Expected sales for a period of {1} month(s) for {0}:'.format(time_horizon[2], products[1])

'Expected sales for a period of Product B month(s) for 12:'

So far in this tutorial, we are using the **positional** arguments  
From now on, we will use the **keyword** arguments

### **keyword** arguments

In [134]:
'Expected sales for a period of {t_hor} month(s) for {prod}:'.format(t_hor = 12, prod = 'Product B')

'Expected sales for a period of 12 month(s) for Product B:'

In [135]:
'Expected sales for a period of {t_hor} month(s) for {prod}:'.format(t_hor = 12, prod = ['Product A', 'Product B'])

"Expected sales for a period of 12 month(s) for ['Product A', 'Product B']:"

In [136]:
'Expected sales for a period of {t_hor} month(s) for {prod[1]}:'.format(t_hor = 12, prod = ['Product A', 'Product B'])

'Expected sales for a period of 12 month(s) for Product B:'

In [137]:
'Expected sales for a period of {t_hor[2]} month(s) for {prod[1]}:'.format(t_hor = time_horizon, prod = products)

'Expected sales for a period of 12 month(s) for Product B:'

### **Combine** Positional, Keyword, and String Literals

In [138]:
'Expected sales for a period of {t_hor[2]} month(s) for {prod[1]}: ${sales}.'.format(t_hor = time_horizon, prod = products, sales = 10000)

'Expected sales for a period of 12 month(s) for Product B: $10000.'

In [139]:
'Expected sales for a period of {0} month(s) for {prod[1]}: ${sales}.'.format(12, prod = products, sales = 10000)

'Expected sales for a period of 12 month(s) for Product B: $10000.'