# **Concept** Iterating Object in Python

Let's start with **Sequences**  
Sequences can be made up of lists, tuples, and strings (sequence of characters)

In [2]:
t = (4,5,6,7)

In [3]:
l = [10.5, 20.75, 30.00]

In [4]:
s = 'abcde'

### For Loop **Syntax**

**i** = loop variable (iterator variable)  
**t** = iterable (object that you want to be loop over)

In [5]:
for i in t:
    print(i, end = " ")  # don't forget indentation

4 5 6 7

anything in the form of a sequence can be looped, including **range** function  
range **( n )**  --> n stands for the number of iterations we desire

In [6]:
range(5)

range(0, 5)

In [7]:
for i in range(5):
    print(i, end = " ")

0 1 2 3 4

# **Nested** Loops

Python allow us have a loop inside another loop

In [8]:
for i in range(2):
    print (i)

0
1

In [9]:
for j in range(5):
    print (j)

0
1
2
3
4

If we combine **j** in **i**  
we will get variable j printed as many times as the loop of variable i  
range ( 5 ) **printed twice**

In [10]:
for i in range(2):
    for j in range(5):
        print (j)

0
1
2
3
4
0
1
2
3
4

To visualize this better, lets print a list with elements **i** and **j** at each iteration

In [11]:
for i in range(2):
    for j in range(5):
        print ([i,j])

[0, 0]
[0, 1]
[0, 2]
[0, 3]
[0, 4]
[1, 0]
[1, 1]
[1, 2]
[1, 3]
[1, 4]

We can use **string values** too

In [12]:
for i in ["Product A", "Product B"]:
    for j in range(5):
        print ([i,j])

['Product A', 0]
['Product A', 1]
['Product A', 2]
['Product A', 3]
['Product A', 4]
['Product B', 0]
['Product B', 1]
['Product B', 2]
['Product B', 3]
['Product B', 4]

In the professional way, we need to **store the sequences in the variables** bearing meaningful names

In [13]:
products = ["Product A", "Product B"]
exp_sales = [10000, 11000, 12000, 13000, 14000]

In [14]:
for i in products:
    for j in exp_sales:
        print ([i,j])

['Product A', 10000]
['Product A', 11000]
['Product A', 12000]
['Product A', 13000]
['Product A', 14000]
['Product B', 10000]
['Product B', 11000]
['Product B', 12000]
['Product B', 13000]
['Product B', 14000]

# **Triple** Nested Loops

The main concept of the loop is  
the **inner loop will be executed first until it's finished**, then the outer loop

In [1]:
products = ["Product A", "Product B"]
exp_sales = [10000, 11000, 12000, 13000, 14000]
time_horizon = (1, 3, 12)

We can even use **arithmetic operations** as the output of the loop

In [2]:
for prod in products:
    for sale in exp_sales:
        for t_hor in time_horizon:
            print ([prod, sale * t_hor])

['Product A', 10000]
['Product A', 30000]
['Product A', 120000]
['Product A', 11000]
['Product A', 33000]
['Product A', 132000]
['Product A', 12000]
['Product A', 36000]
['Product A', 144000]
['Product A', 13000]
['Product A', 39000]
['Product A', 156000]
['Product A', 14000]
['Product A', 42000]
['Product A', 168000]
['Product B', 10000]
['Product B', 30000]
['Product B', 120000]
['Product B', 11000]
['Product B', 33000]
['Product B', 132000]
['Product B', 12000]
['Product B', 36000]
['Product B', 144000]
['Product B', 13000]
['Product B', 39000]
['Product B', 156000]
['Product B', 14000]
['Product B', 42000]
['Product B', 168000]

Usually we use a **for loop with a format string**

In [3]:
for prod in products:
    for sale in exp_sales:
        for t_hor in time_horizon:
            print ('Expected sales for a period of {0} month(s) for {1}: ${sales}'.format(t_hor, prod, sales = sale * t_hor))

Expected sales for a period of 1 month(s) for Product A: $10000
Expected sales for a period of 3 month(s) for Product A: $30000
Expected sales for a period of 12 month(s) for Product A: $120000
Expected sales for a period of 1 month(s) for Product A: $11000
Expected sales for a period of 3 month(s) for Product A: $33000
Expected sales for a period of 12 month(s) for Product A: $132000
Expected sales for a period of 1 month(s) for Product A: $12000
Expected sales for a period of 3 month(s) for Product A: $36000
Expected sales for a period of 12 month(s) for Product A: $144000
Expected sales for a period of 1 month(s) for Product A: $13000
Expected sales for a period of 3 month(s) for Product A: $39000
Expected sales for a period of 12 month(s) for Product A: $156000
Expected sales for a period of 1 month(s) for Product A: $14000
Expected sales for a period of 3 month(s) for Product A: $42000
Expected sales for a period of 12 month(s) for Product A: $168000
Expected sales for a period of 1 month(s) for Product B: $10000
Expected sales for a period of 3 month(s) for Product B: $30000
Expected sales for a period of 12 month(s) for Product B: $120000
Expected sales for a period of 1 month(s) for Product B: $11000
Expected sales for a period of 3 month(s) for Product B: $33000
Expected sales for a period of 12 month(s) for Product B: $132000
Expected sales for a period of 1 month(s) for Product B: $12000
Expected sales for a period of 3 month(s) for Product B: $36000
Expected sales for a period of 12 month(s) for Product B: $144000
Expected sales for a period of 1 month(s) for Product B: $13000
Expected sales for a period of 3 month(s) for Product B: $39000
Expected sales for a period of 12 month(s) for Product B: $156000
Expected sales for a period of 1 month(s) for Product B: $14000
Expected sales for a period of 3 month(s) for Product B: $42000
Expected sales for a period of 12 month(s) for Product B: $168000

# **List** Comprehensions

Python has another way of creating loops    
By writing less code and increasing readability, **this method has its drawbacks**  
Namely the **length of processing time and need more memory**

The syntax if we use **basic for loops**

In [4]:
for i in range(2):
    for j in range(5):
        print(i + j, end = " ")

0 1 2 3 4 1 2 3 4 5

The syntax if we use **list comprehension loops**  
The output is directly stored in a list

In [6]:
list_1 = [i+j for i in range(2) for j in range(5)]
list_1

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

This method is very useful if we want to **produce multidimentional list**  
Keep an eye on the **numbers of square bracket**

In [7]:
list_2 = [[i+j for i in range(2)] for j in range(5)]
list_2

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

## with **conditions**

In [8]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In this example we will create  
a list containing **integers raised to the power of 3** *on the condition* the **values are odd numbers**

In [9]:
[num ** 3 for num in range(1, 11) if num % 2 != 0 ]

[1, 27, 125, 343, 729]

In [11]:
# with basic for loop
for i in range(1, 11):
    if i % 2 != 0:
        print(i ** 3, end = " ")

1 27 125 343 729

If the conditional statement **" IF "** is in the middle of syntax it will generate error.  
Because **it expect "else"**

In [12]:
[num ** 3 if num % 2 != 0 for num in range(1, 11)]

SyntaxError: expected 'else' after 'if' expression (3287091736.py, line 1)

In [13]:
[num ** 3 if num % 2 != 0 else "even" for num in range(1, 11)]

[1, 'even', 27, 'even', 125, 'even', 343, 'even', 729, 'even']